<h1>Family Friday</h1>


    <%@groups.each do |location, groups| %>
      <h2><%= location %></h2>
      <ul>
        <% groups.each_with_index do |group, index| %>
          <h3>Group <%= index + 1 %></h3>
          <% group.each do |name| %>
            <li><%= name %></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>

<%= link_to 'Add or Remove Employees', employees_path %>
